
// 'Nanum Gothic Coding', Sans-Serif
// 'Nanum Myeongjo', Serif
// 'Nanum Pen Script', Sans-Serif

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&family=Nanum+Pen+Script&display=swap')

// default : Lato,'Helvetica Neue',Arial,Helvetica,sans-serif

/*
- html (root)
html
  font-size: 14pt
  line-height: 1.15

- 로고
.logo-typo
  font-size: 1.5rem
  font-weight: 700

- 메뉴
.menu-typo
  font-size: 1rem

- 제목1 
.title1-typo
  font-size: 2rem
  font-weight: 700
  line-height: 1.28571429em

- 제목1 부제목
.title1-sub-typo
  font-size: 2rem
  line-height: 1.28571429em

- 태그
.tag-typo
  font-size: .78571429rem
  line-height: 1

- 제목2
.title2-typo
  font-size: 1.71428571rem;
  font-weight: 700
  line-height: 1.6

- 제목3

- 컨텐츠
.content-typo
  font-size: 1.14285714rem
  line-height: 1.6

*/


/*
목록

- 목록 제목
.list-title-typo
  font-weight: 700;
  font-size: 1.28571429em;
  line-height: 1.28571429em;

- 목록 요약
.list-summary-typo
  font-size: 1em;
  line-height: 1.5;
*/


